services:
  client:
    build:
      context: .
      dockerfile: client/Dockerfile
    ports:
      - "3000:3000"
  accountmanagement:
    build:
      context: .
      dockerfile: accountmanagement/Dockerfile
    ports:
      - "4002:4002"
  image_management:
    build:
      context: .
      dockerfile: image_management/Dockerfile
    ports:
      - "4003:4003"
  article_vote:
    build:
      context: .
      dockerfile: article_vote/Dockerfile
    ports:
      - "4004:4004"
  sessions:
    build:
      context: .
      dockerfile: sessions/Dockerfile
    ports:
      - "4001:4001"
  sessionsdb:
    image: "redis:alpine"
    ports:
      - "6379:6379"

  comments:
    build:
      context: .
      dockerfile: comments/Dockerfile
    ports:
      - "4401:4401"
  commentsdb:
    image: "redis:alpine"
    command: --port 4402
    ports:
      - "4402:4402"

  comment_votes:
    build:
      context: .
      dockerfile: comment_votes/Dockerfile
    ports:
      - "4403:4403"
  comment_votesdb:
    image: "redis:alpine"
    command: --port 4404
    ports:
      - "4404:4404"
